<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-repeat="(name, page) in pages"><a ng-href="{{page.url}}" ng-hide="page.onlyLogged && !$root.user.infos">{{name}}</a></li>
    <li><a ng-hide="$root.user.infos" data-toggle="modal" data-target="#loginModal">Connection</a></li>
    <li><a ng-hide="$root.user.infos" data-toggle="modal" data-target="#registerModal">Inscription</a></li>
    <li class="dropdown">
      <a ng-show="$root.user.infos" data-toggle="dropdown" class="dropdown-toggle" href="#">{{$root.user.infos.email}}</a>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a href="#" ng-click="logout()" role="menuitem">Déconnexion</a></li>
      </ul>
    </li>
  </ul>
  <h3 class="text-muted">ChickenRand</h3>
</div>
<div class="modal fade" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Connection</h4>
      </div>
      <form role="form" ng-submit="login(email, password)">
        <div class="modal-body">
            <div class="form-group">
              <label for="login-email">Email :</label>
              <input type="email" class="form-control" ng-model="email" id="login-email" placeholder="toi@epitech.eu" required>
            </div>
            <div class="form-group">
              <label for="login-password">Mot de passe :</label>
              <input type="password" class="form-control" ng-model="password" id="login-password" placeholder="Password" required>
            </div>
            <p class="text-danger">{{error}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button class="btn btn-primary">Connection</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Inscription</h4>
      </div>
      <form role="form" ng-submit="register(user)">
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="toi@epitech.eu" required>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="Password" required>
          </div>
          <div class="form-group">
            <label for="age">Âge :</label>
            <input type="number" class="form-control" ng-model="user.age" id="age" placeholder="25" required>
          </div>
          <div class="form-group">
            <label for="laterality">Latéralité :</label>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.laterality" name="laterality" value="left" required>
                Gaucher
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.laterality" name="laterality" value="right" required>
                Droitier
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="laterality">Croyez-vous en l'influence de l'esprit sur la matière :</label>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.beliver" name="beliver" value="true" required>
                Non
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.beliver" name="beliver" value="false" required>
                Oui
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="laterality">Sexe :</label>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.sex" name="sex" value="man" required>
                Homme
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.sex" name="sex" value="female" required>
                Femme
              </label>
            </div>
          </div>
          <p class="text-danger">{{error}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <button class="btn btn-primary">Inscription</button>
        </div>
      </form>
    </div>
  </div>
</div>
