<header-bar></header-bar>

<div class="jumbotron">
  <h1>ChickenRand</h1>
  <p class="lead">
    Vous n'êtes pas tombé ici par hasard...
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="$emit('showRegister')" ng-hide="$root.user.infos">Je veux participer !</a></p>
  <p><a class="btn btn-lg btn-success" href="#/experiments" ng-show="$root.user.infos">Faire une experience !</a></p>
</div>

<div class="row marketing">
  <h4>ChickenRand en une phrase</h4>
  <p>ChickenRand est un projet de recherche amateur sur l'influence de l'intention humaine sur la génération de nombres aléatoires.</p>
  <h4>L'influence de quoi sur quoi ???</h4>
  <p>Plusieurs études scientifiques, à partir de la fin de années 60 jusqu'à nos jours, ont pu démontrer l'influence de l'intention humaine (et animal d'où le poussin) - c'est à dire notre volonté ou notre pensée si vous voulez - sur des dispositif physiques de génération de nombres aléatoires.
  </p>
  <p>Ces dispositifs mécaniques ou électroniques (c'est le cas de notre générateur) utilise un système à forte entropie (en gros non prédictible) pour générer des 1 et des 0 considérés comme réellements aléatoires en comparaison aux nombres aléatoires de nos ordinateurs dit "pseudo aléatoires" car ils sont générés via un algorithme (un programme) et sont donc potentiellement prédictibles (ce qui enlève la notion de hasard).</p>

</div>

<footer-bar></footer-bar>
